.donate_text{
    color: #a70d17;
    padding-top: 10rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 4em;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate_quote{
    font-size: 3em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
color: rgb(15, 15, 70);
}  
.barcode{
    flex-direction: column;
    padding-left: 18em;
    width: 40vw;
    margin-top: 2em;
    margin-bottom: 10em;
}
.qr_bank_container{
    width: 90%;
display: flex;
justify-content: space-around;
}
.bank_heading{
    font-size: 3em;
    margin-top: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(17, 17, 65);
    /* text-decoration: underline; */
}
.acc_details{
    margin-top: 4rem;
    font-size: 1.8em;

}
.h3_tags{
    font-weight: 800;
    margin-bottom: 3rem;

}
@media(min-width: 200px) and (max-width: 912px) {
    .donate_text{
        font-size: 3em;
    }
    .donate_quote{padding-left: 2rem;
    padding-right: 3rem;}

    .barcode{
        flex-direction: column;
        padding-left: 0rem;
        margin-left: 3rem;
        width: 85vw;
        margin-top: 50rem;
        margin-bottom: 10em;
    }
    .bank_details{
        margin-left: -18rem;
        padding-right: -2rem;
    }
    .acc_details{
        margin-left: 0rem;
        margin-top: 3rem;
        font-size: 2.1em;
    }
    .acc_details span{
        color: #4f8cb5;
        stroke: red 10px;
    }
}
@media(min-width: 350px) and (max-width: 912px) {
    .bank_details{
        margin-left: -65vw;
        padding-right: -2rem;
    }
    .barcode{
        margin-left: 7rem;
        width: 85vw;
    }
}