/* background: linear-gradient(to right, #ba55d3 20%, #453558 40%, rgb(75,0,130) 60%, #8B008B 80%);
background-size: 100% auto; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {font-size: 70%;}
a {text-decoration: none;}
li {list-style: none;}

/* navbar style start  */

.main-nav {
  position: fixed;top:0px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 7rem;
  display: grid;
  /* background: #E8E8E8; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: background-color 0.3s ease;
    
}
.main-nav.scrolled{
  background-color:#E8E8E8 ;
}

/* Title part */


.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  background: linear-gradient(to right, #ba55d3 20%, #453558 40%, rgb(75,0,130) 60%, #8B008B 80%);
  background-size: 200% auto;
  padding-left: 1rem;
  /* color: #000; */
  background-clip: text;
  padding-top: 1.2rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
  animation: shine 1s linear infinite;
  cursor: pointer;
}


.title:hover{
  background: linear-gradient(to right, #8b2ba3 20%, #453558 40%, rgb(75,0,130) 60%, #8B008B 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

    /* Logo Styles   */
.logo {
  display: flex;
  margin-left: 2rem;
  cursor: pointer;
}


/* Menu Styles  */
.menu-link ul {
  height: 7rem;
  display: flex;
  margin-left: 10rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}


.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-link ul li:hover>a {
  color: #2980b9;
  text-decoration: underline;
  font-size: 2rem;
  transition: 0.5s;
}
/* Social media icons Style */
.social-media {
  grid-column: 4/5;
}

.social-media ul li :hover{
  font-size: 110%;
  transform-origin: bottom;
  transition: .2s;
}
.social-media ul {
  height: 7rem;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  align-items: center;
  -webkit-text-fill-color: transparent;
  justify-content: flex-end;
}

.social-media ul li {
  font-size: 2.2rem;
text-align: right;
}

.social-media ul li:first-child {
  grid-column: 1/2;
}

/* ----------- Grid part ends ----------------- */


.social-media .hamburger-menu {
  display: none;
  -webkit-text-fill-color: transparent;

}

.whatapp {
  color: #25d366;
}

.instagram {
  color: #c32aa3;
}

.youtube {
  color: #ff0000;
}
.header_logo{
  margin-top: 1rem;
}

/* Donate button */
.btn{
  background-color: #3498db;;
  width: 8rem;
  height: 3rem;
  font-size: large;
  color: #ffffff;
  border-radius: 10px;
}
.btn:hover{
  border: 1px solid black;
}


@keyframes pulsate-16 {
  0% {
    transform: scale(1.04, 1.08);
  }
  50% {
    transform: scale(1.08, 1.12);
  }
  100% {
    transform: scale(1.04, 1.08);
  }
}



/* responsive css style  */
/* @media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}
*/

@media(min-width: 200px) and (max-width: 912px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }
/* 
  .logo,
  .social-media ul {
    height: 7rem;
  } */

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    /* background-color: white; */
    backdrop-filter:blur(40px) ;
background-color: rgba(255, 255, 255, 0.2);
    height: 20rem;
    width: 92vw;
    display: grid;
    grid-column: 3/5;
    align-items: center;
    padding-left: 2rem;
    padding-right: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    color: #67a7ec;
    margin-left: -rem;

  }
  .mobile-menu-link ul :hover{
      font-size: 2rem;
      transition:ease-in 2s; 
  }
  .mobile-menu-link button{
    margin-left: -2rem;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 1s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (min-width: 200px) and (max-width: 912px) {
  .main-nav {
    height: 7rem;
    width: 100vw;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo
   {
    height: 6.5rem;
  }
  .header_logo {
    margin-top: 2.5rem;
    margin-left: -1rem;
    height: 3.5rem;
}

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 3rem;
    margin-top: 2rem;
  }
}