.aboutpg{
    background-color: #bcc7d1;
    width: 100vw;
   /* overflow-x:hidden; */
   /* overflow-y: visible; */
}
.abtimg{
    width: 100vw;
    opacity: 60%;
}
.abtq,.abtq1{
  position: absolute;
  top: 40%;
  left: 50%;
  font-family: 'Times New Roman', Times, serif;
  transform: translate(-50%, -50%); 
  background: -webkit-linear-gradient(#000000, #2f4f4f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  width: 80%;
  font-size: 4rem; 
  line-height: 1.5;
}
.box{
    width: 80%;
    border-radius: 2rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 12rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem 2rem 4rem;
    background-color: aliceblue;
}
.heading{
    display: flex;
    margin-bottom: 0.5em;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}
.para{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
@media (min-width: 200px) and (max-width: 912px){
  .aboutpg{
    width: 100vw;
    background-color: #bcc7d1;
}
    .box{
    width: 90%;
    margin-left: 1rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
    /* background-color: rgb(42, 107, 163); */
    background-color: aliceblue;
  }
  .heading{
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;
  }
  .para{
    font-size: 1.8rem;
  }
  .abtimg{
  height:65vh ;
  opacity: 70%;
  width: 100vw;
}
.abtq{
    top: 38%;
    font-size: 2rem; 
    position: absolute;
    left: 50%;
  }
  .abtq1{
    top: 43%;
    font-size: 2rem; 
    position: absolute;
    left: -45%;
    width: 50%;
    margin-left: 100px;
    letter-spacing: 0rem;
  }
}
@media (min-width: 400px) and (max-width: 912px){
  .abtq1{
    top: 32%;
    position: absolute;
    left: 15%;
  }
}
