.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@media (min-width: 200px) and (max-width: 912px){
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.csrt {
  font-size: 1.9rem;
    color: rgba(0, 0, 3, 0.8);
    /* padding-left: 2rem; */
    /* padding-top: 1rem; */
    font-weight: 900;   
    font-family: 'Dhurjati', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Single Day', cursive;
  }